@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@layer base {
	@font-face {
		font-family: "Gordita Regular";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Regular"),
			url("./fonts/Gordita-Regular.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Regular Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Regular Italic"),
			url("./fonts/Gordita-Regular-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Thin";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Thin"), url("./fonts/Gordita-Thin.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Thin Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Thin Italic"),
			url("./fonts/Gordita-Thin-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Light";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Light"),
			url("./fonts/Gordita-Light.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Light Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Light Italic"),
			url("./fonts/Gordita-Light-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Medium";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Medium"),
			url("./fonts/Gordita-Medium.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Medium Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Medium Italic"),
			url("./fonts/Gordita-Medium-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Bold";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Bold"), url("./fonts/Gordita-Bold.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Bold Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Bold Italic"),
			url("./fonts/Gordita-Bold-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Black";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Black"),
			url("./fonts/Gordita-Black.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Black Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Black Italic"),
			url("./fonts/Gordita-Black-Italic.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Ultra";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Ultra"),
			url("./fonts/Gordita-Ultra.woff") format("woff");
	}

	@font-face {
		font-family: "Gordita Ultra Italic";
		font-style: normal;
		font-weight: normal;
		src: local("Gordita Ultra Italic"),
			url("./fonts/Gordita-Ultra-Italic.woff") format("woff");
	}
}

@layer components {
	.input {
		@apply rounded-[6px] px-[20px] h-[50px] w-[90%] max-w-[415px] runam-box-shadow placeholder:text-[12px] placeholder:font-gordita placeholder:text-black;
	}
}
body {
	margin: 0;
	font-family: -apple-system, "Gordita", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.runam-box-shadow {
	box-shadow: 6px 6px 15px rgba(7, 105, 98, 0.2);
}

.spinner {
	position: absolute;
	width: 7px;
	height: 7px;
}

.spinner div {
	position: absolute;
	width: 50%;
	height: 150%;
	background: #e4792d;
	transform: rotate(calc(var(--rotation) * 1deg))
		translate(0, calc(var(--translation) * 1%));
	animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
	--delay: 0.1;
	--rotation: 36;
	--translation: 150;
}

.spinner div:nth-child(2) {
	--delay: 0.2;
	--rotation: 72;
	--translation: 150;
}

.spinner div:nth-child(3) {
	--delay: 0.3;
	--rotation: 108;
	--translation: 150;
}

.spinner div:nth-child(4) {
	--delay: 0.4;
	--rotation: 144;
	--translation: 150;
}

.spinner div:nth-child(5) {
	--delay: 0.5;
	--rotation: 180;
	--translation: 150;
}

.spinner div:nth-child(6) {
	--delay: 0.6;
	--rotation: 216;
	--translation: 150;
}

.spinner div:nth-child(7) {
	--delay: 0.7;
	--rotation: 252;
	--translation: 150;
}

.spinner div:nth-child(8) {
	--delay: 0.8;
	--rotation: 288;
	--translation: 150;
}

.spinner div:nth-child(9) {
	--delay: 0.9;
	--rotation: 324;
	--translation: 150;
}

.spinner div:nth-child(10) {
	--delay: 1;
	--rotation: 360;
	--translation: 150;
}

@keyframes spinner-fzua35 {
	0%,
	10%,
	20%,
	30%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: rotate(calc(var(--rotation) * 1deg))
			translate(0, calc(var(--translation) * 1%));
	}

	50% {
		transform: rotate(calc(var(--rotation) * 1deg))
			translate(0, calc(var(--translation) * 1.5%));
	}
}

/*--------------------------confirmation page css-----------------------------*/
.home {
	font-family: "Open Sans", sans-serif;

	height: 100vh;
	display: grid;
	align-items: center;
}
/* 
.check {
	width: 10%;
}
.check img {
	width: 100%;
}

.containers {
	width: 90%;
	text-align: center;
	max-width: 700px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	background-color: white;
}

.container h1 {
	font-weight: bold;
}
p {
	padding-top: 15px;
	font-size: 18px;
} */
